<%= render "shared/error_messages", user: user %>
<%= form_for user do |f| %>
  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control", value: user.name %>
  </div>

  <div class="form-group">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email, class: "form-control", value: user.email %>
  </div>

  <div class="form-group">
    <%= f.label :password, t(".password") %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t(".password_confirmation") %>
    <%= f.password_field :password_confirmation, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit t(".submit"), class: "btn btn-primary btn-block" %>
  </div>
<% end %>
