<% provide :title, t(".title", test_name: @test.name) %>
<h1 class="text-center word-break"><%= t(".title", test_name: @test.name) %></h1>

<div class="table-responsive">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><%= t(".index") %></th>
        <th><%= t(".user") %></th>
        <th><%= t(".time") %></th>
        <th><%= t(".score") %></th>
        <th><%= t(".view") %></th>
        <th><%= t(".delete") %></th>
      </tr>
    </thead>

    <tbody>
      <% @results.each.with_index do |result, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to result.user.name, result.user %></td>
          <td><%= l(result.created_at, format: :short) %></td>
          <td><%= result.score %></td>
          <td>
            <%= link_to test_result_path(@test, result), class: "button" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to test_result_path(@test, result), method: "delete",
              data: {confirm: t("confirm_delete")}, class: "button text-danger" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
