<%= render "shared/error_messages", object: test %>
<%= form_for test do |f| %>
  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :kind, t(".kind") %>
      <%= f.select :kind, choise_kind_exam,
        {include_blank: t(".choise")}, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :time, t(".time") %>
      <%= f.number_field :time, min: Settings.time_min_test, class: "form-control" %>
    </div>
  </div>

  <label>Question</label>
  <div class="questions">
    <%= f.fields_for :questions do |question| %>
      <%= render "question_fields", f: question %>
    <% end %>

    <div class="link">
      <%= link_to_add_association f, :questions, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> <%= t(".add_question") %>
      <% end %>
    </div>
  </div>

  <div class="form-group text-center">
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
