<% provide :title, t(".title") %>
<h2 class="text-info"><%= @test.name %></h2>
<%= t(".score") + ": " + @result.score.to_s + "/" + @test.questions.count.to_s %>
<div>
    <% @questions.each.with_index do |question, index| %>
      <div>
        <p><%= (index+1).to_s + ". " + question.content %></span>
        <div>
          <% question.answers.each do |answer| %>
            <% if answer.is_correct?
                if ResultAnswer.find_by(answer: answer, result: @result)
                  text = t(".correct_answer")
                else
                  text = t(".correct")
                end
              else
                 text = t(".incorrect") if ResultAnswer.find_by(answer: answer, result: @result)
              end
             %>
            <div>
              <%= answer.content %> <b><%= text %></b>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
