<h2 class="text-center"><%= @test.name %></h2>
<h4 class="text-right"><%= t ".times" %><%= @test.time %></h4>
<h4 class="text-right"><%= link_to t(".back"), root_path %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t ".question_id" %></th>
      <th class="text_center"><%= t ".question" %></th>
      <th class="text-center"><%= t ".edit" %></th>
      <th class="text-center"><%= t ".delete" %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each.with_index do |question, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= question.content %>
        <ol type="A">
        <% question.answers.each do |answer| %>
          <% if answer.is_correct? %>
            <li class="text-primary"><%= answer.content %></li>
          <% else %>
            <li><%= answer.content %></li>
          <% end %>
      <% end %>
      </ol>
      </td>
      <td class="text-center">
        <%= link_to "#", class: "button" do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
      <td class="text-center">
        <%= link_to question, method: "delete", data: {confirm: t("confirm_delete")},
        class: "button text-danger" do %>
          <i class="fa fa-trash"></i>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
