<% provide :title, t(".title", name: @test.name) %>
<h2 class="text-center"><%= t(".title", name: @test.name) %></h2>
<div class="test-info">
  <p class="text-center"><%= t(".time")%>: <span><%= @test.time %></span></p>
</div>
<div class="test-content">
  <%= form_for @test, url: {action: "mark"} do |f| %>
    <% @questions.each.with_index do |question, index| %>
      <div class="question">
        <p class="question-content">
          <span>
            <%= create_index params[:page], index, Settings.per_page_questions %>. <%= question.content %>
          </span>
        </p>

        <div class="answers">
          <% question.answers.each do |answer| %>
            <div class="answer">
              <%= check_box_tag "questions[]", answer.id, false, {id: "answer_#{answer.id}"} %>
              <%= label_tag "answer_#{answer.id}", answer.content %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= f.submit t(".submit"), class: "btn btn-success" %>
  <% end %>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "custom.js" %>
<% end %>

<%= will_paginate @questions %>
